body {
  height: 100vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 20px;
}
input {
  font-size: 20px;
}

.cHidden {
    display: none;
}
.cClock {
    background-color: white;
    text-align: center;
}
.cTodos {
    background-color: lightyellow;
    text-align: left;
}